# Remove this line first before doing anything else
Remove_this_line_or_bot_wont_start=True

# Get from https://my.telegram.org/
API_KEY=""
API_HASH=""

# Generate using generate_string_session.py. Otherwise you can generate session file using generate_session_file.py
# Local hosters don't need to use this, but they also can.
STRING_SESSION=""

# Screenshot Layer API Key for .screenshot command
# Get from https://screenshotlayer.com/
# Please refer to README for getting the key
SCREENSHOT_LAYER_ACCESS_KEY=""

# In case you want to turn on logging, set this True.
BOTLOG="False"

# Chat ID for Botlog.
# Get it from group management bots such as Marie or her forks.
# This is an integer, please don't wrap it in quotes.
BOTLOG_CHATID=0

# If you want verbosity on the Logging
CONSOLE_LOGGER_VERBOSE="False"

# putting False allows here to other users PM you freely.
# putting True prevents spamming and unauthorized PMs
PM_AUTO_BAN="False"

# Your MongoDB Atlas URL
MONGO_DB_URI=""

# Detect and mute spambots which match the
# Paperplane algorithm after they join a group.
# Use at your own risk, the algorithm is in beta stage.
WELCOME_MUTE="False"

# Upstream repo url
# For forked userbots...
UPSTREAM_REPO_URL="https://github.com/Shiroikun/MiniPlane.git"

# No need to fill if hosting locally, Heroku configs
HEROKU_APIKEY="" # Get from https://dashboard.heroku.com/account
HEROKU_APPNAME=""
